<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="false" />
    <section name="RequestReduce" type="RequestReduce.Configuration.RequestReduceConfigSection, RequestReduce" requirePermission="false" />
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <dataConfiguration defaultDatabase="PieGourmet" />
  <connectionStrings>
    <add connectionString="Server=DESKTOP-CKG6762;Database=PieGourmetV2;User ID=pie_dev;Password=root" name="PieGourmet" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="D:\Project\PieGourmet\WebV3\log\errors" />
    <targets>
      <!-- add your targets here -->
      <target xsi:type="File" name="f1" fileName="${logDirectory}/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}" keepFileOpen="false" />
      <target name="m1" xsi:type="Mail" smtpServer="mail.jskdesign.net" smtpPort="587" smtpAuthentication="Basic" smtpUserName="mailhost@jskdesign.net" smtpPassword="" enableSsl="false" from="Error@jskdesign.net" to="errors@jskdesign.net" cc="" />
    </targets>
    <rules>
      <!-- add your logging rules here -->
      <logger name="*" levels="Debug,Error" writeTo="f1" />
      <!--
      <logger name="*" minlevel="Trace" writeTo="f" />
      -->
    </rules>
  </nlog>
  <appSettings>
    <!-- Application Version -->
    <add key="MainVersion" value="1.0.1" />
    <add key="ServerName" value="Development" />
    <add key="MapAPIKey" value="" />
    <add key="SecureMapAPIKey" value="" />

    <!-- Mail Settings -->
    <add key="MailServer" value="mail.jskdesign.net" />
    <add key="MailUser" value="" />
    <add key="MailPassword" value="" />
    <add key="MessageQ" value="C:\MailBeeNetQueue Files\Pickup" />
    <add key="MailBeeLicenseKey" value="" />

    <!-- Application Folder/Constant Settings -->
    <add key="ForceSecure" value="False" />
    <add key="AppURL" value="http://localhost/piegourmet/" />
    <add key="AppSecure" value="https://localhost/piegourmet/" />
    <add key="LogFolder" value="D:\Project\PieGourmet\WebV3\log" />
    <add key="TempFolder" value="D:\Project\PieGourmet\WebV3\temp" />
    <add key="PageFolder" value="D:\Project\PieGourmet\WebV3\pages" />
    <add key="ProductImages" value="D:\Project\PieGourmet\WebV3\images\products" />
    <add key="LogErrors" value="True" />
    <add key="DebugOut" value="True" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.2" />
    <httpRuntime requestValidationMode="2.0" />
    <customErrors mode="Off" defaultRedirect="PageError.aspx" />
    <pages controlRenderingCompatibilityVersion="4.0" />
        <identity impersonate="false" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RequestReduce" type="RequestReduce.Module.RequestReduceModule, RequestReduce" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add verb="*" path="*.ashx" name="AjaxPro" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />
    </handlers>
  </system.webServer>
  <RequestReduce imageOptimizationDisabled="false" imageOptimizationCompressionLevel="5" imageQuantizationDisabled="false" imageSpritingDisabled="false" spriteColorLimit="5000" cssProcesingDisabled="true" javascriptUrlsToIgnore="/application/editor/scripts" javascriptProcesingDisabled="true" />
</configuration>